aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==49.0.0
dj-database-url==3.1.2
Django==5.1.15
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-filter==25.1
django-timezone-field==7.2.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory_boy==3.3.3
Faker==40.23.0
frozenlist==1.8.0
gunicorn==26.0.0
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
MarkupSafe==3.0.3
multidict==6.7.1
narwhals==2.22.1
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.5.2
psycopg2-binary==2.9.12
pycparser==3.0
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.0
pytest-django==4.12.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-http-client==3.3.7
PyYAML==6.0.3
redis==8.0.0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
scikit-learn==1.9.0
scipy==1.17.1
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.5
stripe==15.2.1
threadpoolctl==3.6.0
twilio==9.10.9
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.4.3
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.1
Werkzeug==3.1.8
whitenoise==6.12.0
yarl==1.24.2
